<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">BIST Analiz</a>
    <div class="d-flex align-items-center ms-auto">
      <button id="darkModeToggle" class="btn btn-outline-secondary me-3" type="button">
        <span id="darkModeIcon">🌙</span>
      </button>
      <form class="d-flex" action="/" method="get">
        <input class="form-control me-2" type="search" name=":symbol" 
               placeholder="Hisse kodunu girin (örn: THYAO)" 
               value="<%= params[':symbol']&.gsub('.IS', '') %>">
        <input type="hidden" name="range" value="<%= params[:range] || '6mo' %>">
        <input type="hidden" name="theme" value="<%= params[:theme] %>">
        <button class="btn btn-outline-primary" type="submit">Ara</button>
      </form>
    </div>
  </div>
</nav>
